# Pandas

In [ ]:
import pandas as pd
import numpy as np

# Python list
#a = [4,51,3,6,9]

# Numpy 1D array
# a = np.array([4,51,3,6,9])
# a

# Pandas Series
# a = pd.Series([4,51,3,6,9],index=['a','b','c','d','e'])
#a = pd.Series({'a':4, 'b':51,'c':3,'d':6,'e':9})
a = pd.Series(np.random.randn(100))
#a.head(10)
#a.tail(10)
#a.index
#a.values
# a[0]
# a[1]
# a[1:10]
# a[[2,5,10]]
# len(a)
# a.shape
# a.count()
# a = pd.Series([1,1,3,4,5,5,6])
# a.unique()
# a = np.array([1,2,3,4])
# b = np.array([4,3,2,1])
# a+b
# a1 = pd.Series([1,2,3,4],index=[1,2,3,6])
# b1 = pd.Series([4,3,2,1],index=[2,3,4,1])
# b1
# a1+b1

#a = pd.DataFrame([[1,1],[2,2]])
#a = pd.DataFrame([[1,2],[3,4]],index=[1,2],columns=['height','weight'])#
#a.shape
#a.columns
#a.index
#a.values
#print(a)
# b = pd.DataFrame([[4,3],[2,1]],index=[2,1],columns=['weight','height'])
# print(b)
# a+b
sp500 = pd.read_csv("data/sp500.csv", 
                    index_col='Symbol', 
                    usecols=['Symbol', 'Sector', 'Price', 'Book Value'])
#sp500['Price']
sp500[[1]]
#sp500.head(10)
#sp500.tail(10)
#print(sp500)
#sp500[[1, 2]].head(3)
#sp500[['Price','Book Value']].head(3)
# sp500['Price']
# sp500[['Price', 'Sector']]
# sp500.Price
# sp500.index
# sp500.values
#sp500[:2]  # selecting the first 2 rows for all cols
#sp500[[2]] # selecting the 2 column for all rows
# sp500[10:30]
# sp500['XYL':'YUM']
# sp500.loc[['MMM','ATI']]
# sp500.iloc[1]
#sp500.ix[['MMM','ATI']]
#sp500.ix[[0,1]]
#sp500.ix[['AES']][['Price']]
# sp500.at['AES', 'Price']
# sp500.iat[0,1]
# sp500[sp500.Price < 100]
#sp500[(sp500.Price < 100) & (sp500.Price > 30)]
# df = pd.DataFrame(np.random.randn(5, 4), 
#                   columns=['A', 'B', 'C', 'D'])
#df + 4
#df - df.iloc[1]
# subframe = df[1:4][['B', 'C']]
# subframe
# df - subframe


## Series

In [7]:
# import pandas
import pandas as pd
# and NumPy
import numpy as np

# Set some Pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 8)

## Create Series

In [ ]:
# create a Series from a Python List
s = pd.Series([1,3,5,6,2,4,6,2])
s

In [ ]:
# create a Series from a NumPy array of random values
np.random.seed(1)
s = pd.Series(np.random.randn(100))
s

In [ ]:
# specify an index at creation time
s2 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2

In [ ]:
# create a Sereis from a Python dict
s2 = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})
s2

## Access Series

In [ ]:
# select item with matching label of 2
s[2]

In [ ]:
# selected elements at positions 2, 5, and 20
s[[2, 5, 20]]

In [ ]:
# slice the Series
s[3:8]

In [ ]:
s.head()

In [ ]:
s.tail()

In [ ]:
s.index

In [ ]:
s.values

## Size, shape, uniqueness and counts of values

In [ ]:
# create a series
s = pd.Series([5, 0, 1, 1, 2, 3, 4, 5, 6, np.nan])
len(s)

In [ ]:
# reports the shape, which is a tuple with len in the first value
s.shape

In [ ]:
# .count() is the number of non NaN values
s.count()

In [ ]:
# all unique values
s.unique()

In [ ]:
# all unique values and their counts
s.value_counts()

## Alignment via index labels

In [ ]:
s3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s3

In [ ]:
s4 = pd.Series([4, 3, 2, 1], index=['d', 'c', 'b', 'a'])
s4

In [ ]:
# add s3 and s4
s3 + s4

In [ ]:
# see how different from adding numpy arrays
a1 = np.array([1, 2, 3, 4])
a2 = np.array([4, 3, 2, 1])
a1 + a2

# DataFrame

## Create Data Frame

In [ ]:
# create a DataFrame from a 2-d ndarray
pd.DataFrame(np.array([[10, 11], [20, 21]]))

In [ ]:
# create a DataFrame for a list of Series objects
df1 = pd.DataFrame([pd.Series(np.arange(10, 15)), 
                    pd.Series(np.arange(15, 20))])
df1

In [ ]:
# create a DataFrame with two Series objects
# and a dictionary
s1 = pd.Series(np.arange(1, 6, 1))
s2 = pd.Series(np.arange(6, 11, 1))
pd.DataFrame({'c1': s1, 'c2': s2})

In [ ]:
# specify column names
df = pd.DataFrame(np.array([[10, 11], [20, 21]]), 
                  columns=['a', 'b'])
df

In [ ]:
# create a DataFrame with named columns and rows
df = pd.DataFrame(np.array([[0, 1], [2, 3]]), 
                  columns=['c1', 'c2'], 
                  index=['r1', 'r2'])
df

In [ ]:
# Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns

dates = pd.date_range('20160101', periods=12, freq='M')
#dates

#df = pd.DataFrame(np.random.randn(12,4), index=dates, columns=['A','B','C','D'])
df = pd.DataFrame(np.random.randn(12,4), index=dates, columns=list('ABCD'))
df

In [ ]:
# what's the shape of this DataFrame
df1.shape  # it is two rows by 5 columns

In [ ]:
# what are names of the columns?
df.columns

In [ ]:
df.columns = ['c1', 'c2']
df

In [ ]:
# retrieve the index of the DataFrame
df.index

In [ ]:
df.values

In [ ]:
# demonstrate alignment during creation
s3 = pd.Series(np.arange(12, 14), index=[1, 2])
pd.DataFrame({'c1': s1, 'c2': s2, 'c3': s3})

## Import data

In [9]:
# read in the data and print the first five rows
# use the Symbol column as the index, and 
# only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv("data/sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

In [ ]:
# peek at the first 5 rows of the data using .head()
sp500.head()

In [ ]:
# examine the index
sp500.index

### Selecting columns of a DataFrame

In [ ]:
# get first and second columns (1 and 2) by location
sp500[[1, 2]].head(3)

In [ ]:
# just the price column
sp500[[1]].head(3)

In [ ]:
# get price column by name
# result is a Series
sp500['Price']

In [ ]:
# get Price and Sector columns
# since a list is passed, result is a DataFrame
sp500[['Price', 'Sector']]

In [ ]:
# attribute access of column by name
sp500.Price

## Selecting rows of a DataFrame

### Slicing using the [] operator

In [11]:
# first 3 rows
sp500[:3]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [ ]:
# XYL through YUM labels
sp500['XYL':'YUM']

### Selecting rows by index label and location: .loc[] and .iloc[]

In [ ]:
# get row with label MMM
# returned as a Series
sp500.loc['MMM']

In [ ]:
# rows with label MMM and MSFT
# this is a DataFrame result
sp500.loc[['MMM', 'MSFT']]

In [ ]:
# get rows in location 0 and 2
sp500.iloc[[0, 2]]

In [ ]:
# get the location of MMM and A in the index
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
i1, i2

In [ ]:
# and get the rows
sp500.iloc[[i1, i2]]

### Selecting rows by index label and/or location: .ix[]

In [ ]:
# by label
sp500.ix[['MSFT', 'ZTS']]

In [ ]:
# by location
sp500.ix[[10, 200, 450]]

### Scalar lookup by label or location using .at[] and .iat[]

In [ ]:
# by label in both the index and column
sp500.at['MMM', 'Price']

In [ ]:
# by location.  Row 0, column 1
sp500.iat[0, 1]

## Selecting rows using Boolean selection

In [ ]:
# what rows have a price < 100?
sp500.Price < 100

In [ ]:
# now get the rows with Price < 100
sp500[sp500.Price < 100]

In [ ]:
# get only the Price where Price is < 10 and > 0
sp500[(sp500.Price < 10) & (sp500.Price > 0)] [['Price']]

## Arithmetic on a DataFrame

In [ ]:
# set the seed to allow replicatable results
np.random.seed(123456)
# create the DataFrame
df = pd.DataFrame(np.random.randn(5, 4), 
                  columns=['A', 'B', 'C', 'D'])
df

In [ ]:
# multiply everything by 2
df * 2

In [ ]:
df - df.iloc[0]

In [ ]:
# get rows 1 through three, and only B, C columns
subframe = df[1:4][['B', 'C']]
# we have extracted a little square in the middle of df
subframe

In [ ]:
# demonstrate the alignment of the subtraction
df - subframe

In [ ]:
# get the A column
a_col = df['A']
df.sub(a_col, axis=0)

# Reindexing Series and DataFrame objects

In [12]:
# create a series of five random numbers
np.random.seed(1)
s = pd.Series(np.random.randn(5))
s

0    1.624345
1   -0.611756
2   -0.528172
3   -1.072969
4    0.865408
dtype: float64

In [13]:
# now set the index to alpha values
s.index = ['a', 'b', 'c', 'd', 'e']
s

a    1.624345
b   -0.611756
c   -0.528172
d   -1.072969
e    0.865408
dtype: float64

In [14]:
# reindex the copy
s2 = s.reindex(['a', 'c', 'e', 'g'])
# change the value at 'a'
s2['a'] = 0
s2

a    0.000000
c   -0.528172
e    0.865408
g         NaN
dtype: float64

In [ ]:
s['a']

In [15]:
# Series objects with string and integer index types
# with the "same" values will not align
s1 = pd.Series([0, 1, 2], index=[0, 1, 2])
s2 = pd.Series([3, 4, 5], index=['0', '1', '2'])
s1 + s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [16]:
# demonstrate treating values at a specific type
s2.index = s2.index.values.astype(int)
s1 + s2

0    3
1    5
2    7
dtype: int64

In [17]:
# show reindexing with filling of NaN with a specified value
s2 = s.copy()
s2.reindex(['a', 'f'], fill_value=0)

a    1.624345
f    0.000000
dtype: float64

In [18]:
# a Series to demonstrate reindexing
s3 = pd.Series(['red', 'green', 'blue'], index=[0, 3, 5])
s3

0      red
3    green
5     blue
dtype: object

In [19]:
# forward fill (last known value technique)
s3.reindex(np.arange(0,7), method='ffill')

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

In [20]:
# demonstrate how backwards fill differs
s3.reindex(np.arange(0,7), method='bfill')

0      red
1    green
2    green
3    green
4     blue
5     blue
6      NaN
dtype: object